* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.app {
  background-color: black;
  min-height: 100vh;
}

.section{
  min-height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card{
  width: 60%;
}

.contenedor {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.max-width{
  max-width: 100%;
  min-width: 100%;
  width: 100%;
}